.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #ffb366;
}
#header-nav > .container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand h2 {
    margin-top: 0;
}
.navbar-brand a {
    text-decoration: none;
}

.initial-loading {
    margin-top: 60px;
}

.panel-footer {
    /*margin-top: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    border-top: 0;
    color: white;
}

.panel-footer div.row {
    margin-bottom: 30px;
}

/*#main-content > h1 {
    font-size: 20px;
}

div.panel {
    margin-bottom: 10px !important;
    border: 0;
}
.panel-heading a {
    color: black;
}

.panel-group {
    margin: 10px 10px 40px 10px;
}

.panel-title > a[aria-expanded=true] .show-chevron-right {
    display: none;
}
.panel-title > a[aria-expanded=false] .show-chevron-down {
    display: none;
}
.panel-title > a:hover {
    cursor: pointer;
}
.well {
    margin-bottom: 0;
}
.panel-body {
    margin-left: 10px;
}

#searchbox {
    margin: 20px 20px 20px 20px;
}
#searchbox > input {
    width: 400px;
}

.trans {
    margin-bottom: 10px;
    font-size: 12px;
}

#addTrans {
    border-radius: 10px;
    width: 80px;
}

form > input {
    margin-bottom: 10px;
    width: 400px;
}*/
/*.ng-touched.ng-valid {
    border: 2px green solid;
}

.ng-touched.ng-invalid {
    border: 2px red solid;
}

.error {
    font-size: 20px;
    color: red;
}*/

/*Customer Login Form*/
#TinForm {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*#TinForm .form-group {
    margin-bottom: 20px;
}*/

/*Customer Info View*/
#InfoForm {
    margin-bottom: 40px;
}
#InfoForm  h3 {
    margin: 40px;
    text-decoration: underline;
    text-align: center;
}
#InfoForm  h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}
#InfoForm  h4, #InfoForm  p {
    text-align: center;
}
#InfoForm #warning {
    font-style: italic;
}

#InfoForm input,
#InfoForm textarea,
#InfoForm select {
    width: 80%;
    margin: auto;
}
#InfoForm hr {
    border-color: #AAA;
}
#InfoForm #customerPlace,
#InfoForm #customerGood,
#InfoForm #customerService {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
#InfoForm #places,
#InfoForm #goods,
#InfoForm #services {
    clear: both;
}

/*#InfoForm input.ng-invalid,
#InfoForm textarea.ng-invalid {
    border: 1px solid red;
}
#InfoForm input.ng-valid,
#InfoForm textarea.ng-valid {
    border: 1px solid green;
}*/


#InfoForm .place {
    margin-top: 40px;
}

/*adminBox*/
.adminBox, .customerBox {
    margin-top: 100px;
}

.adminInfoBox {
    margin: 40px;
    text-align: center;
}

@media (min-width: 1200px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        /*border: 2px solid #3F0C1F;*/
        margin-bottom: 0;
        background: url('../images/jumbotron_lg.jpg');
        height: 1024px;
        opacity: 0.5;
    }

    #main-content {
        min-height: 1024px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        margin-bottom: 0;
        background: url('../images/jumbotron_md.jpg');
        height: 900px;
        opacity: 0.5;
    }
    #main-content {
        min-height: 900px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        margin-bottom: 0;
        background: url('../images/jumbotron_sm.jpg');
        height: 666px;
        opacity: 0.5;
    }
    #main-content {
        min-height: 666px;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0.5;
    }

    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3) {
        /* Extra margin for copyright not required */
        margin-bottom: 0;
    }
    .panel-footer section hr {
        width: 50%;
    }

}
