.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #ffb366;
}
#header-nav > .container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand h2 {
    margin-top: 0;
}
.navbar-brand a {
    text-decoration: none;
}

.initial-loading {
    margin-top: 60px;
}

.panel-footer {
    /*margin-top: 20px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
    border-top: 0;
    color: white;
}

.panel-footer div.row {
    margin-bottom: 30px;
}

/*#main-content > h1 {
    font-size: 20px;
}

div.panel {
    margin-bottom: 10px !important;
    border: 0;
}
.panel-heading a {
    color: black;
}

.panel-group {
    margin: 10px 10px 40px 10px;
}

.panel-title > a[aria-expanded=true] .show-chevron-right {
    display: none;
}
.panel-title > a[aria-expanded=false] .show-chevron-down {
    display: none;
}
.panel-title > a:hover {
    cursor: pointer;
}
.well {
    margin-bottom: 0;
}
.panel-body {
    margin-left: 10px;
}

#searchbox {
    margin: 20px 20px 20px 20px;
}
#searchbox > input {
    width: 400px;
}

.trans {
    margin-bottom: 10px;
    font-size: 12px;
}

#addTrans {
    border-radius: 10px;
    width: 80px;
}

form > input {
    margin-bottom: 10px;
    width: 400px;
}*/
/*.ng-touched.ng-valid {
    border: 2px green solid;
}

.ng-touched.ng-invalid {
    border: 2px red solid;
}

.error {
    font-size: 20px;
    color: red;
}*/
/*adminBox*/
.adminBox, .customerBox {
    margin-top: 100px;
}

/*Customer Login Form*/
#TinForm .row {
    margin: 100px;
}

#TinForm .form-group {
    margin: 10px;
}

/*Customer Info View*/
.customerInfoBox {
    margin-bottom: 20px;
}
.customerInfoBox h3 {
    margin: 40px;
    text-decoration: underline;
}
.customerInfoBox #warning {
    font-style: italic;
}
.customerInfoBox h4 {
    margin-top: 20px;
}
.customerInfoBox h4, .customerInfoBox p {
    text-align: center;
}
.customerInfoBox hr {
    border-color: #AAA;
}
.customerInfoBox form {
    margin-top: 20px;
}
.customerInfoBox label {
    width: 20%;
    float: left;
}
.customerInfoBox input,  .customerInfoBox textarea {
    width: 60%;
    margin: auto;
}
.customerInfoBox input.ng-invalid, .customerInfoBox textarea.ng-invalid {
    border: 1px solid red;
}
.customerInfoBox input.ng-valid, .customerInfoBox textarea.ng-valid {
    border: 1px solid green;
}
.customerInfoBox #customerPlace,
.customerInfoBox #customerGood,
.customerInfoBox #customerService {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.customerInfoBox #places,
.customerInfoBox #goods,
.customerInfoBox #services {
    clear: both;
}

.customerInfoBox #places {
    margin-bottom: 40px;
}

.adminInfoBox {
    margin: 40px;
    text-align: center;
}

@media (min-width: 1200px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        /*border: 2px solid #3F0C1F;*/
        margin-bottom: 0;
        background: url('../images/jumbotron_lg.jpg');
        height: 1024px;
        opacity: 0.5;
    }

    #main-content {
        min-height: 1024px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        margin-bottom: 0;
        background: url('../images/jumbotron_md.jpg');
        height: 900px;
        opacity: 0.5;
    }
    #main-content {
        min-height: 900px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        box-shadow: 0 0 50px #3F0C1F;
        margin-bottom: 0;
        background: url('../images/jumbotron_sm.jpg');
        height: 666px;
        opacity: 0.5;
    }
    #main-content {
        min-height: 666px;
    }
}

@media (max-width: 767px) {
    .jumbotron {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0.5;
    }

    .navbar-brand h2 { /* Restaurant name */
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }
    .navbar-brand p { /* Kosher cert */
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img { /* Star-K */
        height: 20px;
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }

    #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #f6b319;
        color: #951c49;
    }

    #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */

    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3) {
        /* Extra margin for copyright not required */
        margin-bottom: 0;
    }
    .panel-footer section hr {
        width: 50%;
    }

    #menu-tile, #specials-tile {
        width: 360px;
        margin: 0 auto 15px;
    }

    .menu-item-photo {
        margin-right: auto;
    }
    .menu-item-tile .menu-item-price {
        text-align: center;
    }
    .menu-item-description {
        text-align: center;
    }
}
