<div id="main-content" class="container-float">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="adminInfoBox">
                <a href="" target="_blank" class="btn btn-primary" ng-click="ctrl.download();">
                    Download Contacts
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="adminInfoBox">
                <a href="#" class="btn btn-danger" ui-sref="adminLogin">
                    Log Out
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="adminInfoBox">
                <button type="submit" class="btn btn-success" ng-click="ctrl.add();">
                    Add new customer
                </button>
            </div>
        </div>
    </div>
</div>
