<div id="main-content" class="container">
    <form id="TinForm" class="form-horizontal" name="TinForm">

        <div class="form-group">
            <div class="col-sm-4 col-xs-4">
                <select ng-model="ctrl.option" class="form-control" name="option">
                    <!-- <option value="">Select ID</option> -->
                    <option value="tin">TIN</option>
                    <option value="pan">PAN</option>
                    <option value="stn">Service Tax No</option>
                </select>
            </div>

            <div class="col-sm-8 col-xs-8">
                <input type="text" id="tin" class="form-control"
                    ng-model="ctrl.value" pattern="([A-Za-z0-9]+)"
                    ng-change="ctrl.value=ctrl.value.toUpperCase();" required>
            </div>
        </div>

        <div class="form-group">
            <div id="button" class="col-sm-12 text-center">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"
                     ng-click="ctrl.Submit();"
                     ng-disabled="ctrl.option === '' || TinForm.$invalid">
                        Submit
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>

                    <!-- <a class="btn btn-default dropdown-toggle btn-select"
                    data-toggle="dropdown" href="#" id="btnId">
                        Select
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-model="ctrl.tin">TIN</li>
                        <li ng-model="ctrl.pan">PAN</li>
                        <li ng-model="ctrl.stn">Service Tax No</li>
                    </ul> -->
